body {
  background: #333;
  color: #333;
  font: 13px/1.385 Helvetica, Arial, sans-serif; }

.sub {
  width: 600px;
  padding: 4px;
  margin: 0 auto; }

a {
  color: #6886b4;
  text-decoration: none;
  font-weight: bold; }

.bluff-tooltip {
  background: #fff;
  border: 1px solid #d1edf5;
  padding: 8px 8px 6px; }
  .bluff-tooltip .color {
    display: block;
    height: 4px;
    width: 30px;
    margin: 0 0 4px;
    overflow: hidden; }
  .bluff-tooltip .data {
    font-weight: bold; }

#header .sub {
  position: relative; }
#header h1 {
  margin: 12px 0; }
  #header h1 a {
    color: #fff;
    font: bold 40px Verdana;
    text-decoration: none; }
  #header h1 span {
    display: block;
    color: #ccc;
    font-size: 12px;
    font-weight: normal; }
#header #navigation {
  position: absolute;
  right: 18px;
  bottom: 30px;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }
  #header #navigation li {
    list-style: none;
    margin: 6px 0;
    padding: 0 0 0 0; }
    #header #navigation li a {
      color: #fdd84e;
      text-decoration: none;
      font-weight: bold; }

#main .sub {
  background: #fff; }
#main p, #main ul {
  margin: 1.0em 0;
  padding: 0 0 0 0; }
#main li {
  margin: 0 0 0 4.0em; }
#main pre, #main code {
  background: #eee;
  font-family: Monaco, Consolas, Lucida Console, monospace; }
#main pre {
  clear: both;
  font-size: 12px;
  margin: 1.0em 0;
  padding: 1.0em 0; }
#main h2 {
  font-size: 24px;
  margin: 0 0 18px; }
#main h3 {
  border-top: 2px solid #eee;
  font-size: 20px;
  margin: 18px 0; }
#main h4 {
  font-size: 14px;
  margin: 18px 0; }
#main h2, #main h3 {
  font-weight: normal; }
#main #data {
  float: left;
  border-collapse: collapse; }
  #main #data caption {
    margin: 1.0em 0 0; }
  #main #data th, #main #data td {
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 4px 6px;
    font-size: 11px; }

#footer .sub {
  color: #fff;
  font-size: 12px; }
  #footer .sub a {
    color: #FDD84E; }
