body, a, p, h1, h2, h3, table, td, th, ul, ol
{
    font-family: arial, verdana, helvetica, sans-serif;
    color: rgb(0, 0, 64);
}

body, p, td
{
    color: #000033;
    background-color: #FFFAF6;
}

a
{
    text-decoration: none;
    color: #000080;
}

a img
{
    border-color: #ff8c00;
}

a:hover , a.head:hover
{
    color: #3F5E5E;
}

a.head
{
    text-decoration: none;
    color: #000033;
}

td.sel, b.selhead
{
    color: #000033;
}

p.menu
{
    border-style: solid;
    border-width: 2px;
    border-color: #AAAAAA;
    margin: 0px 0px 0px 0px;
}

table.menu
{
    color: #FFFFFF;
}

td.menu
{
    color: #fffbe2;
}


