span.at {
color:#00008B;
}

span.format {
color:gray;
}

span.property {
color:green;
}

span.selector {
color:blue;
}

span.value {
color:red;
}

span.keybd {
font-family: Consolas, Courier, monospace;
background:#FFFFCC;
border:1px solid #000;
padding:1px 3px 1px 3px;
}

body {
font:76% Verdana,Tahoma,Arial,sans-serif;
margin:0 auto;
padding:0;
//background:url(bg.gif) repeat-y top center #f4f4f4;
}

#wrap {
color:#303030;
width:760px;
margin:0 auto;
background:#fff;
}

#header {
clear:both;
height:65px;
margin:20px 0 0;
padding:0;
}

#header h1 {
width:12em;
float:left;
margin:0 0 10px;
}

#header p {
width:400px;
float:right;
text-align:center;
color:#a0a0a0;
font-size:0.8em;
line-height:1.2em;
margin:0 0 10px;
}

#frontphoto {
border:0;
margin:0 0 10px;
}

#avmenu {
clear:left;
float:left;
width:150px;
font-size:0.9em;
margin:0 0 10px;
padding:0;
}

#avmenu ul {
list-style:none;
width:150px;
font-size:1.1em;
margin:0 0 20px;
padding:0;
}

#avmenu li {
margin-bottom:4px;
font-weight:700;
height:20px;
text-decoration:none;
color:#303030;
display:block;
border-left:4px solid #ccc;
padding:6px 0 0 10px;
background:#f4f4f4;
}

#avmenu li a:hover {
color:#0066cc;
//border-left:4px solid #0066cc;
background:#eaeaea;
}

.announce {
width:130px;
color:#505050;
line-height:1.3em;
margin:10px 0;
padding:10px;
background:#f4f4f4;
}

#extras {
float:right;
width:120px;
font-size:0.9em;
line-height:1.5em;
margin:0 0 10px;
padding:0;
}

#extras p {
margin:0 0 1.5em;
}

#content {
border-left:1px solid #f0f0f0;
border-right:1px solid #f0f0f0;
line-height:1.6em;
text-align:left;
margin:0 130px 20px 160px;
padding:0 10px;
}

#content h2 {
font-size:1.5em;
margin:0 0 0.5em;
padding-top: 0.5em;
border-top:1px solid #c0c0c0;

}

#content h3 {
font-size:1.2em;
margin:0.5em 0;
}

#content img {
display:inline;
border:4px solid #f0f0f0;
padding:1px;
background:#ccc;
}

hr {
color:#fcfcfc;
}

a {
text-decoration:none;
color:#0066cc;
}

a:hover {
text-decoration:underline;
color:#0066cc;
}

a img {
border:0;
}

#footer {
clear:both;
border-top:4px solid #f0f0f0;
width:760px;
text-align:center;
color:gray;
font-size:0.9em;
margin:0 auto;
padding:10px 0 20px;
}

#footer a {
color:gray;
text-decoration:none;
}

#footer a:hover {
text-decoration:underline;
}

code {
font-size:1.2em;
line-height:1;
}

.left {
float:left;
margin:10px 10px 5px 0;
}

.right {
float:right;
margin:10px 0 5px 10px;
}

.textright {
text-align:right;
}

.center {
text-align:center;
}

.small {
font-size:0.8em;
}

.hide {
display:none;
}

dt,.bold {
font-weight:700;
}

