body {
    font-family:arial, verdana, helvetica, sans-serif;
    font-size:12px;
    cursor:default;
    background-color:#FFFFFF
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html {
    height:100%;
    margin-bottom:1px;
}

#container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background-color: #FFFFFF;
}

#header {
    width:100%;
    padding-top:15px;
}

.spacer {
    width:100%;
    height:15px;
}

hr {
    border:0px;
    color:#CCCCCC;
    background-color:#CDCDCD;
    height: 1px;
    width: 100%;
    text-align: left;
}

h1 {
    font-size:30px;
    color:#006666;
    background-color:#FFFFFF;
    font-family:Arial, Verdana, Helvetica, sans-serif;
    font-weight:300;
}

h2 {
    color:#006666;
    font-size:20px;
    text-align:left;
    font-weight:300;
    padding:5px;
    padding-top:0px;
    margin-top:15px;
}

h3 {
    font-size:15px;
    color:gray;
    font-family:Arial, Verdana, Helvetica, sans-serif;
    font-weight:400;
    background-color:#FFFFFF;
}

h4 {
    color:#006666;
    font-size:15px;
    text-align:left;
    padding:5px;
    margin-top:5px;
}

h5 {
    color:#006666;
    font-size:15px;
    text-align:left;
    font-weight:300;
    padding:5px;
    margin-top:5px;
}

#left {
    float:left;
    width:140px;
    height: 400px;
    background-color:#FFFFFF;
    color:black;
}

#main {
    margin: 0px 5px 5px 160px;
    padding: 15px;
    border-left: 1px solid silver;
    width: 500px;
}

img{
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    color:black;
    background-color:#FFFFFF;
//    line-height:20px;
    padding:5px;
}
a {
    color:#006666;
    background-color:#FFFFFF;
    text-decoration:none;
}
a:hover {
    color:#003333;
    background-color:#FFFFFF;
    text-decoration:underline;
}

li {
    margin: 5px;
    margin-left: 25px;
}

#footer {
    clear:both;
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}
.right {
    color:gray;
    background-color:#FFFFFF;
    float:right;
    font-size:100%;
    margin-top:5px;
}
.left {
    color:gray;
    background-color:#FFFFFF;
    float:left;
    font-size:100%;
    margin-top:5px;
}

.menuitem {
    font-size:15px;
    margin-top: 15px;
}

.selmenuitem {
    font-size:15px;
    margin-top: 15px;

}

.submenuitem {
    font-size:12px;
    margin-left: 20px;
    margin-top: 5px;

}
