body
{
    font-family: arial, verdana, helvetica, sans-serif;
    color: #000033;
    background-color: #FFFAF6;
}

a
{
    text-decoration: none;
    color: #000080;
}

a.head
{
    text-decoration: none;
    color: #000033;
}

a:hover , a.head:hover
{
    color: #3F5E5E;
}

table.banner
{
    width: 600px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    margin: 0px 0px 0px 0px;
}

table.main
{
    width: 600px;
    margin: 0px 0px 0px 0px;
}

table.menu
{
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    margin: 0px 0px 0px 0px;
}

.menuitem
{

}

.selmenuitem
{
}

.submenuitem
{
}


