
html {
overflow-y: scroll;
}

span.at {
color:#00008B;
}

body {
font:76% Verdana,Tahoma,Arial,sans-serif;
margin:0 auto;
padding:0;
}

#lastupdate {
color:gray;
font-size:0.9em;
}

#wrap {
color:#303030;
width:760px;
margin:0 auto;
background:#fff;
}

#header {
clear:both;
height:65px;
margin:20px 0 0;
}

#header h1 {
width:12em;
}

#header h5 {
color:#a0a0a0;
font-size:0.8em;
line-height:1.2em;
margin:0 0 10px;
}

#header p {
text-align:right;
color:#a0a0a0;
font-size:0.8em;
line-height:1.2em;
margin:0 0 10px;
}

#leftmenu {
clear:left;
float:left;
width:150px;
font-size:0.9em;
margin:0 0 10px;
padding:0;
}

#leftmenu ul {
list-style:none;
width:150px;
font-size:1.1em;
margin:0 0 20px;
padding:0;
}

#leftmenu li {
margin-bottom:4px;
font-weight:700;
height:20px;
text-decoration:none;
color:#303030;
display:block;
padding:6px 0 0 10px;
background:#f4f4f4;
}

#leftmenu li a:hover {
color:#0066cc;
background:#eaeaea;
}

#extras {
float:right;
width:120px;
font-size:0.9em;
line-height:1.5em;
margin:0 0 10px;
padding:0;
}

#extras p {
margin:0 0 1.5em;
}

#content {
border-left:1px solid #f0f0f0;
border-right:1px solid #f0f0f0;
line-height:1.6em;
text-align:left;
margin:0 130px 20px 160px;
padding:0 10px;
}

#content h2 {
font-size:1.5em;
margin:0 0 1.0em;
padding-top: 0.5em;
padding-bottom: 0.5em;
border-top:1px solid #c0c0c0;
border-bottom:1px solid #c0c0c0;
}

a {
text-decoration:none;
color:#0066cc;
}

a:hover {
text-decoration:underline;
color:#0066cc;
}

#footer {
clear:both;
border-top:4px solid #f0f0f0;
width:760px;
text-align:center;
color:gray;
font-size:0.9em;
margin:0 auto;
padding:10px 0 20px;
}

#footer a {
color:gray;
text-decoration:none;
}

#footer a:hover {
text-decoration:underline;
}

.left {
float:left;
margin:10px 10px 5px 0;
}

.right {
float:right;
margin:10px 0 5px 10px;
}

.hide {
display:none;
}

span.keybd {
font-family: Consolas, Courier, monospace;
background:#FFFFCC;
border:1px solid #000;
padding:1px 3px 1px 3px;
}


